.footer {
    padding: 20px 0;
    margin: 0 auto;
}

.footer__content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.footer__left-container {
    color: white;
}

.icons-container {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    width: 148px;
}

.icon {
    display: block;
    width: 40px;
    height: 40px;
    background-image: url(../img/socialWhite.svg);
    background-repeat: no-repeat;
}

.social-vk {
    background-position-x: 0px;
}

.social-facebook {
    background-position-x: -70px;
}

.social-instagram {
    background-position-x: -140px;
}

.social-youtube {
    background-position-x: -210px;
}


.songs__footer--black {
    .footer__left-container {
        color: $black;
    }

    .icon {
        background-image: url(../img/socialBlack.svg);
    }
}