<section class="adminPanel">
    <div class="admin__header"><a href="index.html">

			//= logoChurch.html

		</a>
        <p class="admin__text --uppercase">Консоль управления контентом</p>
    </div>
    <div class="songContent">
        <form class="song__search">
            <input class="__search__form" type="search" name="find_song" placeholder="Найти песню">
            <input type="submit" value="Найти">
        </form>
        <ul class="songList">
        	<li class="songList__item">Я буду славить</li>
        	<li class="songList__item">Я буду славить</li>
        	<li class="songList__item">Я буду славить</li>

        </ul>
    </div>
    <div class="songEdit">
    	<form class="songEditForm">
    		<label for="songName">Название песни</label> <br>
    		<input type="text" id="songName"><br>
    		<label for="songLyrics">Текст песни</label><br>
			<textarea id="songLyrics"></textarea><br>
			<input type="submit" id="saveSong" value="Сохранить">



    	</form>


    </div>
    <div class="admin__footer">
        <span class="admin__text"> Copyright © 2018 Dmitriy Kovalev. All rights reserved </span>
    </div>
</section>