<section class="admin-panel">
    <div class="wrapper admin__header"><a href="index.html">

            //= logoChurch.html

        </a>
        <p class="admin__text --uppercase">Консоль управления контентом</p>
        <input class="admin__add-song" type="image" src="/img/plus.svg" title="Добавить песню">
    </div>
    <div class="songs__container">
        <div class="container__list">
            <form class="search__form">
                <input id="search__input" type="search" placeholder="Найти песню">
                <input id="search__button" type="image" src="/img/search.svg" title="Найти" alt="Найти песню">
            </form>
            <ul class="list-songs">
                <li class="list-songs__item"><a class="list-songs__link" href="">Песня 1</a></li>
                <li class="list-songs__item"><a class="list-songs__link" href="">Песня 2</a></li>
                <li class="list-songs__item"><a class="list-songs__link" href="">Песня 3</a></li>
                <li class="list-songs__item"><a class="list-songs__link" href="">Песня 4</a></li>
                <li class="list-songs__item"><a class="list-songs__link" href="">Песня 5</a></li>
            </ul>
        </div>
        <disv class="container__text alignment">
            <form class="text__admin-edit alignment">
                <p class="admin-edit__header">Название песни:</p>
                <input id="song-name" name="song-name" type="text" placeholder="Название песни">
                <p class="admin-edit__header">Текст песни:</p>
                <textarea id="song-text" name="song-text"></textarea>
                <p class="admin-edit__header">Ссылка на ноты:</p>
                <input id="song-notes" name="song-notes" type="text" placeholder="http://worship.odomkrd.ru/notes/">
                <p class="admin-edit__header">Ссылка на презентацию:</p>
                <input id="song-presentation" name="song-presentation" type="text" placeholder="http://worship.odomkrd.ru/presentation/">
                <input id="song-save" type="button" name="admin-edit__save" value="Сохранить">
            </form>
    </div>
    </div>
    <div class="admin__footer">
        <span class="footer__info"> Copyright © 2018 WorshipDom. All rights reserved </span>
    </div>
</section>