<section class="footer">
    <div class="wrapper footer__content">
        <div class="left-container"> <span> Copyright © 2018 WorshipDom. All rights reserved </span></div>
        <div class="right-container">
            <ul class="icons-container">
                <li><a href="#" class="icon social-vk"></a></li>
                <li><a href="#" class="icon social-facebook"></a></li>
                <li><a href="#" class="icon social-instagram"></a></li>
                <li><a href="#" class="icon social-youtube"></a></li>
            </ul>
        </div>
    </div>
</section>