<section class="songs">
    <div class="wrapper songs__container">
        <div class="songs__nav">
            <form class="__search__song">
                <input class="__search__field" type="search" placeholder="Найти песню">
                <input class="__search__submit" type="image" src="/img/loupe.svg" title="Найти">
            </form>
            <ul class="songs__list">
                <li class="songs__list__item">В реке Твоей</li>
            </ul>
        </div>
        <div class="song__text"></div>
        <div class="song__feauters">
        	<p>Аудио партии:</p>
        	<a class="altVoice"><img src="/img/altVoice.png"></a>
        	<a class="altVoice"><img src="/img/tenorVoice.png"></a>
			<p>Ноты:</p>
			<a class="altVoice"><img src="/img/notes.png"></a>
			<p>Презентация:</p>
			<a class="altVoice"><img src="/img/presentation.png"></a>
        </div>
    </div>
</section>